In [192]:
import pandas as pd

import requests
import time

from bs4 import BeautifulSoup

import shutil
from IPython.display import Image

from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from splinter.exceptions import ElementDoesNotExist

In [193]:
## REPLACE WITH THIS LATER ##
#executable_path = {"executable_path": ChromeDriverManager().install()}

executable_path = {'executable_path': "C:/Users/Danie/.wdm/drivers/chromedriver/win32/90.0.4430.24/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
## ALTERNATIVE OPTION - DEFINE FUNCTION TO INIIALISE BROWSER ## 
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "C:/Users/Danie/.wdm/drivers/chromedriver/win32/90.0.4430.24/chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

#### NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [254]:
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [255]:
# scrape the browser into soup and find the image url
news_html = browser.html

In [256]:
# create BeautifulSoup object; parse with 'html.parser'
news_soup = BeautifulSoup(news_html, 'html.parser')

In [260]:
# find first article
news = news_soup.find(class_="image_and_description_container")

In [258]:
# find title of the first article
news_title = news.find(class_="content_title").text
news_title

"NASA's Ingenuity Mars Helicopter Flies Faster, Farther on Third Flight"

In [259]:
# find first paragraph 
news_p = news.find(class_="article_teaser_body").get_text()
news_p

'The craft’s April 25 flight was conducted at speeds and distances beyond what had ever been previously demonstrated, even in testing on Earth.'

#### JPL Mars Space Images - Featured Image

Visit the url for JPL Featured Space Image here.

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

Make sure to find the image url to the full size .jpg image.

Make sure to save a complete url string for this image.

In [261]:
# visit the image_url
mars_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(mars_image_url)

In [262]:
# navigate to the full version of the featured image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [263]:
# scrape the browser into soup and find the image url
image_html = browser.html
image_soup = BeautifulSoup(image_html, 'html.parser')

image_url = image_soup.find("img", class_="fancybox-image")["src"]
image_url

'image/featured/mars1.jpg'

In [264]:
# create full url path
featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/' + image_url
featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg'

In [265]:
# use the requests library to download and save the image from the url above
response = requests.get(featured_image_url, stream=True)

with open('images/mars_featured_image.png', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)

In [266]:
# display the image with IPython.display
from IPython.display import Image
Image(url='images/mars_featured_image.png')

#### Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

Use Pandas to convert the data to a HTML table string.

In [267]:
facts_url = 'https://space-facts.com/mars/'

In [268]:
# use the read_html to scrape any tabular data from a page
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [269]:
# create a DataFrame with the first table from the page
df = tables[0]

In [270]:
# rename columns
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [271]:
# generate HTML table from DataFrame
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [272]:
# strip unwanted newlines to clean up the table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [273]:
# save the table to a file
df.to_html('../output/html_table.html', index=False)

#### Mars Hemispheres

Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [274]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [277]:
number_of_clicks = len(browser.find_by_css('div[class="description"] a'))
number_of_clicks

4

In [278]:
hemisphere_image_urls = []

In [279]:
for i in range(number_of_clicks):
    
    links = browser.find_by_css('div[class="description"] a')
    
    links[i].click()
    
    time.sleep(2)
    
    hemisphere_html = browser.html
    hemisphere_soup = BeautifulSoup(hemisphere_html, 'html.parser')

    title = hemisphere_soup.find("h2", class_="title").get_text()
    img_url = hemisphere_soup.find("div", class_="downloads").a['href']
    
    hemisphere_dict = {}
    hemisphere_dict["title"] = title
    hemisphere_dict["img_url"] = img_url
    hemisphere_image_urls.append(hemisphere_dict)
    
    browser.visit(hemispheres_url)
    
    print(title, img_url)

Cerberus Hemisphere Enhanced https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [280]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [290]:
# use the requests library to download and save the images above
img_path_list = []
for j in hemisphere_image_urls:
    
    response = requests.get(j['img_url'], stream=True)
    
    img_path = 'images/' + j['title'] + '.png'
    
    img_path_list.append(img_path)
    
    with open(img_path, 'wb') as out_file:
        shutil.copyfileobj(response.raw, out_file)

In [291]:
 # display the images with IPython.display 
img_path_list

['images/Cerberus Hemisphere Enhanced.png',
 'images/Schiaparelli Hemisphere Enhanced.png',
 'images/Syrtis Major Hemisphere Enhanced.png',
 'images/Valles Marineris Hemisphere Enhanced.png']

In [289]:
Image(url='images/Cerberus Hemisphere Enhanced.png')

In [292]:
Image(url='images/Schiaparelli Hemisphere Enhanced.png')

In [293]:
Image(url='images/Syrtis Major Hemisphere Enhanced.png')

In [294]:
Image(url='images/Valles Marineris Hemisphere Enhanced.png')

In [295]:
# close browser
browser.quit()